.about-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing);
  max-width: 52rem;
  width: 95%;
  margin: 6.25rem auto 1.25rem;
}

.about-margin {
  margin: 2.5rem 0;
}

.about-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  padding: 0;
  margin-bottom: var(--spacing-s);
}
