@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100..900&family=Roboto:wght@400;500&display=swap");

:root {
  --header-bg-green: #008855; /* homepage - about */
  --header-bg-blue: #46aaea; /* agenda */
  --header-bg-yellow: #e5e470; /* history */
  --header-bg-pink: #f9c5a5; /* visit*/
  --header-bg-orange: #ff5000;

  --button-color-language: #545454;
  --button-color-tickets: black;
  --footer-color: black;

  --text-black: black;
  --text-white: white;
  --text-green: #008855;

  --font-body: "Roboto", serif;
  --font-header: "Albert Sans", sans-serif;

  --spacing: 2rem;
  --spacing-s: 1.5rem;
  --spacing-xs: 0.5rem;

  --heading-1: 5rem;
  --heading-1-mobile: 4rem;

  --heading-2: 3rem;
  --heading-2-mobile: 2rem;

  --heading-3: 2rem;
  --heading-3-mobile: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  height: 100%;
  font-family: var(--font-body);
  font-weight: 400;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: var(--font-header);
}

h1 {
  font-size: var(--heading-1);
}

h2 {
  padding: 5rem 7.5rem;
  font-size: var(--heading-2);
  font-weight: 400;
}

h3 {
  font-size: var(--heading-3);
  font-weight: 500;
  line-height: 120%;
}

/* HEADER */

nav {
  display: flex;
  background-color: var(--header-bg-green);
  height: 100%;
  align-items: center;
  padding: var(--spacing-s);
}

nav a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: var(--spacing-s);
  text-decoration: none;
  color: var(--text-white);
}

nav a svg {
  margin-left: var(--spacing-xs);
  fill: white;
}

/*  MAIN - SECTIONS  */

/* FOOTER  */

@media (max-width: 48rem) {
}

@media (max-width: 96rem) {
}
