/* --------------- Main elements + roots --------------- */
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100..900&family=Roboto:wght@400;500&display=swap");

:root {
  --green: #008855;
  --orange: #ff5000;
  --yellow: #e5e470;
  --blue: #46aaea;
  --pink: #f9c5a5;
  --black: #2a2a2a;
  --white: #fff;
  --gray: #545454;

  --font-body: "Roboto", serif;
  --font-header: "Albert Sans", sans-serif;

  --spacing: 2rem;
  --spacing-s: 1.5rem;
  --spacing-xs: 0.5rem;

  --heading-1: 4rem;
  --heading-2: 3rem;
  --heading-3: 2rem;
}

/*  --------------- General  ---------------  */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  color: var(--senaryColor);
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
  min-width: 22rem;
}

h1,
h2,
h3 {
  font-family: "Albert Sans", sans-serif;
}

h1 {
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 1;
}

h2,
summary {
  padding: 5rem 7.5rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1;
}

@media (max-width: 28rem) {
  h2 {
    padding: 2.5rem 3.75rem;
  }
}

h3 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.24;
}

/*  --------------- List  ---------------  */
ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/*  --------------- Link  ---------------  */
a {
  color: var(--white);
  text-decoration: none;
}

/*  ---------------  iFrame  ---------------  */
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*  --------------- Details  ---------------  */
details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

summary {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid black;
}

summary::after {
  text-align: center;
  content: "+";
  color: var(--quaternaryColor);
  transition: 0.3s;
  transform-origin: center;
}

details[open] > summary::after {
  transform: rotate(45deg);
}

/*  --------------- Table  ---------------  */
table {
  border-collapse: collapse;
  width: 100%;
}

td:nth-child(even) {
  text-align: right;
}

td {
  padding: 0.5rem 0;
}

tr:not(:last-child) {
  border-bottom: 1px solid;
}
