.collection-container {
  max-width: 79rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 6.25rem;
}

.collection {
  border-bottom: 1px solid black;
}

.collection-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.collection-content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}

.collection-item {
  flex-basis: 40%;
  flex-grow: 1;
}

/* Video section */
.video-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  max-width: 60rem;
  width: 90%;
  padding-top: 5rem;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50%;
}

@media (max-width: 48rem) {
  .video-container {
    margin: 0 auto;
  }
}
