/* General Styles */
.container-spacing {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.container-flex-gap {
  display: flex;
  gap: 0.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 2.5rem;
}

.overlay-container {
  position: relative;
  width: 100%;
}

.overlay-image {
  position: absolute;
}

.link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Text */
.text--primary {
  color: var(--green);
}

.text--secondary {
  color: var(--orange);
}

.link--primary {
  color: var(--black);
  text-decoration: underline;
}

.link--secondary {
  color: var(--black);
}

.uppercase-text {
  text-transform: uppercase;
}

.source {
  margin-top: 2.5rem;
  padding-left: 2.5rem;
  font-style: italic;
}

.schedule {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.075rem;
}

.slashes::before,
.slashes:after {
  content: " / ";
}

/* List */
.list {
  padding-left: 2.5rem;
}

.list-flex {
  display: flex;
  padding: 0;
  gap: 0.625rem;
}

.list-gap {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.list-item {
  list-style-type: square;
}
