@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100..900&family=Roboto:wght@400;500&display=swap");

h1,
h2,
h3 {
  font-family: "Albert Sans", sans-serif;
}

body {
  font-family: "Roboto", serif;
  line-height: 4;
  font-weight: 400; /* of 500 (medium)*/
}

.d-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 0;
  max-width: 100vw;
  height: 5.875rem;
  padding: 0 1.5rem;
  background-color: #008855;
  color: white;
}

.frame-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav {
  display: flex;
  gap: 2.5rem;
}

nav a {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  text-decoration: none;
  color: #ffffff;
}

nav a img {
  height: 1rem;
  width: auto;
}

.actions {
  display: flex;
  justify-content: end;
  align-items: stretch;
  text-align: right;
  padding: 0 1.5rem;
}

.button-buy-tickets,
.button-language {
  height: 100%;
  width: auto;
  border: none;
  padding: 0 1.5rem;
  color: white;
  background-color: #2a2a2a;
  text-transform: uppercase;
}

.button-language {
  background-color: #545454;
}

.stam-logo {
  position: absolute;
  top: 0;
  right: 0;
}

.cell-logo {
  position: absolute;
  top: 10rem;
  right: 0;
}

.museum {
  position: absolute;
  left: 1.5rem;
  top: 22rem;
  width: 80%;
}

.down-arrow {
  position: absolute;
  right: 1rem;
  bottom: 6rem;
}